@keyframes borderbusy{
	0% {border-right-color: #000;}
	50% {border-right-color: #ccc;}
	100% {border-right-color: #000;}
}

.sudoku-container{
	width:450px;
	height:450px;
	position: relative;
}

.sudoku-table{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border-spacing:0px;
	color:inherit;
}

.sudoku-table-row{
	margin:0px;
	padding:0px;
	border-spacing:0px;
}

.sudoku-table-cell{
	margin:0px;
	padding:0px;
	border-spacing:0px;
	height:50px;
	width:50px;
}

.sudoku-table-cell:nth-child(3n+1){
	border-right:0.5pt solid #000;
	border-left:2pt solid #000;
}

.sudoku-table-cell:nth-child(3n+2){
	border-right:0.5pt solid #000;
}

.sudoku-table-cell:nth-child(9n+9){
	border-right:2pt solid #000;
}

.sudoku-table-row:nth-child(3n+1) td{
	border-top:2pt solid #000;
	border-bottom: 0.5pt solid #000;
}

.sudoku-table-row:nth-child(3n+2) td{
	border-bottom: 0.5pt solid #000;
}

.sudoku-table-row:nth-child(9n+9) td{
	border-bottom:2pt solid #000;
}

.busy-state.busy .sudoku-table-cell:nth-child(9n+9){
	animation-name: borderbusy;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+1) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.1s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+2) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.2s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+3) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.3s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+4) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.4s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+5) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.5s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+6) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.6s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+7) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.7s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+8) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.8s;
}

.busy-state.busy .sudoku-table-row:nth-child(9n+9) .sudoku-table-cell:nth-child(9n+9){
	animation-delay: 0.9s;
}

.sudoku-cell-container{
	position:relative;
	width:100%;
	height:100%;
}

.sodoku-reveal-container{
	position: absolute;
	width:100%;
	height: 100%;
	left:0px;
	top:0px;
}

.distribution {
	font-family: Arial;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 12px;
}

.sudoku-cell-container.error{
	background-color: #f00;
}

.sudoku-cell-input{
	text-align:center;
	border:0px;
	width:50%;
	font-size:20px;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	background-color:transparent;
	font-family: Arial;
}



.settings-button {
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background-color: #000;
	transition-property: width,height,background-color;
	transition-duration: 0.15s;
}

.settings-content {
	display: none;
}

.sudoku-container.show-settings .settings-content{
	display: initial;
}

.close-settings-button{
	position: absolute;
	right: 2px;
	top: 2px;
	width: 12px;
	height: 12px;
	background-color: #000;
}

.sudoku-container.show-settings .settings-button {
	width: 450px;
	height: 450px;
	background-color: rgba(255,255,255,0.75);

}

.settings-option{
	display: inline-block;
	width:225px;
	height: 50px;
	font-family: Verdana;
	font-size: 16px;
	color:#000;
	padding: 10px;
}

.nrc .sudoku-table-cell {
	background-color: #ccc;
}

.sodoku-reveal-container .sudoku-cell-input{
	color:#eee;
}

.nrc tr:nth-child(4n+1) .sudoku-table-cell{
	background-color: #fff;
}

.nrc tr:nth-child(4n+1) .sodoku-reveal-container .sudoku-cell-input{
	color:#ddd;
}

.nrc .sudoku-table-cell:nth-child(4n+1) {
	background-color: #fff;
}

.nrc .sudoku-table-cell:nth-child(4n+1) .sodoku-reveal-container .sudoku-cell-input{
	color:#ddd;
}

.state .state {
	display: none;
}

.busy-state .busy{
	display: none;
}

.busy-state.busy .busy{
	display: initial;
}

.state.no-solution .no-solution{
	display: initial;
}

.state.many-solutions .many-solutions{
	display: initial;
}

.state.one-solution .one-solution{
	display: initial;
}

.busy-state.busy .one-solution{
	display: none;
}

.sodoku-reveal-container{
	display: none;
}

.sudoku-container.one-solution.reveal-solution .empty .sodoku-reveal-container{
	display: initial;
}

.distribution {
	display: none;
}

.sudoku-container.many-solutions.reveal-distribution .empty .distribution{
	display: initial;
}

